:root {
    --color-brand: #819B57;
    --color-primery-dark: #31261A;
    --color-primery-normal: #FAF4EA;
    --color-brand-dark: #465929;
    --color-brand-light: #CFCFBC;
    --color-secondery-dark: #a28268;

}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desctop: 1280px;