.advantages-sec {
    background-color: var(--color-brand);
    padding: 16px 0;
}

.advantages {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.advantages-item {
    font-weight: 300;
    font-size: 20px;
    color: var(--color-primery-normal);
}