.input {
    position: relative;

&__label {
        display: block;
    }

    &__control {
            padding: 16px 42px;
            width: 100%;
            border-radius: 8px;
            border: 1px var(--color-secondery-dark) solid;
            background-color: transparent;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.17;
            max-width: 605px;

            &:focus {
                    border-color: var(--color-brand);
                    outline: none;
                }

           &::placeholder {
                   font-size: 16px;
              font-weight: 400;
               line-height: 1.17;
                        }

          &:focus::placeholder {
               color: var(--color-primery-dark);
        }
        }
}

