.button {
    padding: 16px 32px;
    color: var(--color-primery-normal);
    border-radius: 8px;
    border: 2px solid var(--color-brand);
    background: var(--color-brand);
    cursor: pointer;
    font-weight: 600;
    transition: color 0.3s, background-color 0.3s;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}